* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.container {
    width: 514px;
    border: 6px solid #000;
    margin: -583px -429px -584px -93px;
    height: 558px;
    box-shadow:1px 1px rgba(254, 254, 254, 0.47), inset 1px 1px rgba(254, 254, 254, 0.47);
    border-radius: 20px;
}

body.light .container{
    border: 6px solid #ffffff82;
    box-shadow: 1px 1px rgb(0, 0, 0),
     inset 1px 1px rgb(0, 0, 0);

}

body.light {
    background: #d1dae3;
}

.clk {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(clock.png);
    background-size: cover;
    border: 6px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(225, 225, 225, 0.05),
        inset 0 -15px 15px rgba(225, 225, 225, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.48),
        inset 0 15px 15px rgba(0, 0, 0, 0.48);

}

body.light .clk {
    background: #d1dae3 url(clock.png);
    background-size: auto;
    background-size: cover;
    border: 6px solid #cad3dc;
    box-shadow: -8px -8px 15px rgba(225, 225, 225, 0.5),
        inset -8px -8px 15px rgba(225, 225, 225, 0.5),
        20px 20px 20px rgba(0, 0, 0, 0.1),
        inset 20px 20px 20px rgba(0, 0, 0, 0.1);
}

body.light .clk::before {
    background: #5c2413;
}

.clk::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: whitesmoke;
    border-radius: 50%;
    z-index: 10000;
}

.clk .hour,
.clk .minute,
.clk .second {
    position: absolute;
}

.clk .hour,
.hr {
    height: 160px;
    width: 160px;
}

body.light .hr::before {
    background-color: rgb(227, 29, 95);
}

.clk .minute,
.min {
    height: 190px;
    width: 190px;
}

body.light .min::before {
    background-color: #091921;
}

.clk .second,
.sec {
    height: 230px;
    width: 230px;
}

body.light .sec::before {
    background-color: #008eff;
}

.hr,
.min,
.sec {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    height: 90px;
    width: 12px;
    background: #eacf39;
    z-index: 10;
    border-radius: 8px 8px 0 0;
    padding: 1px;
}

.min::before {
    content: '';
    position: absolute;
    height: 116px;
    width: 5px;
    background: #f6f6f6;
    z-index: 11;
    border-radius: 8px 8px 0 0;
    padding: 1px;
    margin: -11px;
}

.sec::before {
    content: '';
    position: absolute;
    height: 145px;
    width: 3px;
    background: #c10c47;
    z-index: 11;
    border-radius: 33px 33px 33px 33px;
    padding: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    margin: 21px;
}

.toggle1 {
    position: absolute;
    top: 30px;
    right: 187px;
    width: 25px;
    height: 25px;
    font-size: 24px;
    border-radius: 50%;
    background: #d1dae3;
    color: #d1dae3;
    font-family: consolas;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.shape {
    border: 4px solid #cad3dc;
    border-radius: 50%;

}

.toggle1:before {
    position: absolute;
    content: "Light Mode";
    /* color: #f6f6f6; */
    left: 32px;
    white-space: nowrap;
    top: -2px;
}

body.light .toggle1 {
    background-color: black;
    color: black;
}

body.light .toggle1:before {
    content: "Dark Mode";

}